@keyframes on {
  0% {
    right: 2px;
  }
  100% {
    right: 17px;
  }
}

@keyframes off {
  0% {
    right: 17px;
  }
  100% {
    right: 2px;
  }
}
.checkbox {
  height: 40px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  gap: 14px;
  border-left: 1px solid #CBCBCB;
  position: absolute;
  right: 30px;
}
.checkbox__text {
  font-size: 13px;
  line-height: 18px;
}
.checkbox__label {
  background: #EBEBEB;
  border-radius: 20px;
  width: 36px;
  height: 20px;
  position: relative;
}
.checkbox__button {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #F5F5F5;
  border: 1px solid #FFFFFF;
  margin: 2px 0;
  position: absolute;
  animation: on 0.3s forwards;
  transition: background-color 0.3s linear;
}
.checkbox__button:checked {
  animation: off 0.3s forwards;
  background-color: #2BE080;
}

@media screen and (min-width: 531px) and (max-width: 1023px) { 
  .checkbox {
    padding-left: 20px;
    right: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  .checkbox {
    border: none;
    top: 108px;
    right: 76px; 
  }
  .checkbox__text {
    font-size: 11px;
  }
}


